name: Deploy Node App to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Restart Node App
        run: |
          pm2 delete myapp || true
          pm2 start index.js --name myapp
